.container {
    padding: 20px;
    background-color: #00ECF2;
    cursor: pointer;
    width: max-content;
    border:none;
    border-radius: 5px;
    color: #ddd;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
  .container:hover {
    background-color: #009699;
  }